     <!-- Contact -->
     <section id="contact">
         <div class="fluid-container">
             <footer class="pt-4 my-md-5 pt-md-5 border-top">
                 <div class="row">
                     <div class="col-12 cntct">
                         <a href="/"><i class="fab fa-instagram fa-2x ic"></i></a> 
                         <a href="/"><i class="fab fa-facebook fa-2x ic"></i></a>
                         <a href="/"><i class="fab fa-linkedin-in fa-2x ic"></i></a>
                         <a href="/"><i class="fas fa-envelope fa-2x ic"></i></a>
                     </div>
                     <div class="col-12 cntct">
                         © connecting_psycologically 2020-2021
                     </div>
                 </div>
             </footer>
         </div>

     </section>



     <!-- Script -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="javascript/index.js" charset="utf-8"></script>

     </body>

     </html>