<%- include ('partials/header'); -%>

<div class="content">
    <div class="heading-content">
        <div class="heading">
            Memory
        </div>
        <div class="heading-description">It is a fundamental component of daily life </div>
    </div>
    <hr>
    <div class="photo">
        <img src="./img/5PMe5hr8tjSS9Nq5d6Cebe.jpg" alt="">
    </div>
    <div class="content-text">
        <p>Memory is one of the most fascinating topics you can ever hope to study in any field. It is a fundamental
            component of daily life. We rely on it so heavily, that it is not a stretch to say that life without memory
            would be close to impossible. Our very survival depends on our ability to remember who we are, who others
            are, our past experiences, what is dangerous, what is safe, etc. Its importance can't be understated. </p>

        <p>In addition, people often believe their memories to be absolute and true. After all, it would be very
            disconcerting to think that the things that we remember to be true, are in fact wrong. The reality is,
            memory is not complete or absolute. In fact, many of our memories are completely wrong and yet we hold onto
            them dearly. </p>
        <p>We are sure of our memories...we know what happened to us...where we have been...what we said...what we did.
            Or do we?</p>
        <p>Although you will not get to witness this, one of my favorite activities to conduct in class is to create
            false memories in students. One example that use (I have lots, but this is an easy one to explain) is to
            read a list of words that all fit into a certain category (for example, couch, stool, recliner, etc.) and
            then ask the students to write down as many word as they can recall immediately after I finish the list.
        </p>
        <p>The key is that the word &quot;chair&quot; is never included in the list that I read, but it is the target
            word - it is a word that fits perfectly into the category I am reading, but it not included in the list.
        </p>
        <p></p>
        <p>What I usually find is close to 100% of the students include &quot;chair&quot; on their list and insist that
            I said it. In fact, several times I have had to get one of the students who was taping the class to play
            back the tape just to prove that I never said the word &quot;chair&quot;. Even in this case, students often
            leave convinced that they heard &quot;chair&quot;...sure that they &quot;remember&quot; that word being
            said. </p>
        <p>Now think about this - in that example, the students are asked to recall the words immediately after I read
            the list; immediately. If their memories are incorrect then, what happens to memories after a day has
            passed; a week; a month; years?</p> In this section, we will discuss how memory occurs - the process of
        storing and retrieving information. We will also take a look at some of the ways that this process is limited
        and the results of such an imperfect memory system (for example, we will examine false memories). So, let's get
        started.
        <hr align="left" />
        <p>Memory can be defined as <b><i>the storage of learned information for retrieval and future use</i>.</b> </p>
        <p></p>
        <p><b>I. The Key Questions</b></p>
        <p>When psychologists study memory they usually focus on 3 key questions:</p>
        <p>1) How does information get <b>INTO</b> memory?</p>
        <p>2) How is information <b>MAINTAINED</b> in memory?</p>
        <p>3) How do we get information <b>BACK OUT</b> of memory?</p>
        <p>These 3 questions correspond to the 3 key processes in memory:</p>
        <blockquote>
            <p>ENCODING --&gt; STORAGE --&gt; RETRIEVAL</p>
        </blockquote>
        <p></p>
        <hr align="left" />



        <!--DFP middle 728x90-->
        <!--<div id='div-gpt-ad-1387117768888-8' style='width:728px; height:90px;'>
                                                            <script type='text/javascript'>
                                                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1387117768888-8'); });
                                                            </script>
                                                            </div>-->
        <!--DFP end-->


        <p><strong>II. Basic Processes (we will discuss each in detail later, but for now we need a few
                definitions)</strong></p>
        <p>A. Encoding - <b><i>process of forming a memory code in order to get information into memory</i>.</b></p>

        <p>For Example: we may emphasize the shape of a dog's nose to identify the breed (e.g., a German Sheppard has a
            longer, more pointed nose than a bull dog) and subsequently make a code for &quot;German Sheppard&quot;
            according to the dog's nose.</p>
        <p>1) Encoding usually involves <b>attention - <i>focusing awareness on a narrow range of stimuli or
                    events</i>.</b></p>
        <p>B. Storage (memory stores) - <b><i>maintaining encoded information in memory over a period of time</i>.</b>
        </p>
        <p>C. Retrieval - <b><i>recovering information from memory stores</i>.</b></p>
        <p>These 3 processes are the foundation for all memory - how it works and why it may not work at times. When
            memory does not work, we have forgetting, which may occur at any of these 3 levels. We will address
            forgetting soon, but for now let's focus on how memory works.</p>
        <p>The most popular model/theoretical framework today is the Information Processing Theory, modeled after
            computers.</p>
        <hr />

        <p><strong>III. The Atkinson &amp; Shiffrin Information Processing Model</strong></p>
        <p>According to this model information must pass through two temporary storage buffers (stores) before it can be
            placed into more permanent storage, and then retrieved for later use. Take a look at the model below to get
            an overview of the whole process, and then move on with the notes.</p>
        <p>
            <center>
                &nbsp;<img src="/images/atkinsin.gif" width="472" height="345" />
            </center>
        </p>
        <p>
            <center>
            </center>
        </p>
        <p>For the memory process to begin, we must first encounter some stimulus (identified as &quot;input&quot; in
            the model above), which goes into sensory storage.</p>
        <p>A. Sensory Storage - <b><i>the immediate, initial recording of sensory information</i>.</b></p>
        <blockquote>
            <p>Here information is preserved for a very brief time (usually only a fraction of a second) in its original
                form.</p>
            <p>The name &quot;sensory storage&quot; implies that something perceptual occurs. In fact, what enters into
                sensory storage are images (in the case of vision), or more precisely, afterimages. Although the actual
                stimulus may have disappeared, we may still perceive it for a second or so.</p>
            <p>The actual length of time an image exists in sensory storage depends on the modality:</p>
            <blockquote>
                <p>1) Iconic memory - a visual image in sensory storage. Although most people seem to believe that
                    visual images last longer (this is based on intuition, not science), they do not - they last
                    approximately 1/4 of a second.</p>
                <p>2) Echoic memory - auditory image. These (as well as other senses) seem to last up to 3 seconds.</p>
            </blockquote>
        </blockquote>
        <p>SO, we can see that within sensory storage we have 2 distinct stores - an iconic and echoic.</p>
        <p>Once one of these types of memories occur, we have some raw data that will be lost if we do not engage in one
            of two processes (these two processes are required to get information from sensory memory to short term
            memory).</p>
        <blockquote>
            <p>1) Pattern recognition - when new information comes into sensory storage, we actively search through long
                term memory in an effort to find a match for this new raw data.</p>
            <p>2) Attention - this is pretty obvious. The more we pay attention to a stimulus, the more likely it will
                continue onto the next memory store (short term memory)</p>
        </blockquote>
        <p>Once we have successfully recognized or attended to the information, we are able to bring the information
            into SHORT-TERM MEMORY (STM).</p>
        <p>B. Short-Term Memory - <i>a limited capacity store that can maintain information for approximately 20
                seconds</i>.</p>
        <p>It is possible to extend duration of STM (to approximately 30 seconds) by engaging in a process called
            Maintenance Rehearsal.</p>
        <p><b>1) Maintenance Rehearsal</b> -<i> the process of repeatedly verbalizing or thinking about the
                information.</i></p>
        <p>For example - late at night, you have been out partying all night, you et back home and you are hungry. you
            decide...it's time for pizza. So you pick up the phone and call information to get the number of a local
            pizza delivery place. When the operator gives the number, you say the number over and over so that you don't
            forget it in the time it takes to hang up and dial the number. This process of repeating the number over and
            over is actually maintenance rehearsal. It won't help get the information into long term memory, but it will
            help keep it in short term memory a little longer.</p>
        <p><b>2) Slots</b> - STM seems to be divided into &quot;slots&quot; - to be precise, STM has 7 slots, each one
            capable of holding one piece of information.</p>
        <blockquote>
            <p>This is also commonly referred to as the MAGIC #7 (+/- 2), which was introduced by George Miller.</p>
        </blockquote>
        <p>But, we are bombarded with so much information all the time that STM can become cluttered. In order to
            prevent the clutter from become too much, STM pushes some information out in order to make room for other
            information. But what gets pushed out???</p>
        <p>3) Primacy and Recency</p>
        <blockquote>
            <p>a) Primacy - when you are receiving information, the information perceived first is more likely to be
                remembered. This more recent information may simply get to long term memory more easily, and thus be
                remembered or we may just rehearse the early information more.</p>
            <p>b) Recency - information perceived toward the end of an event is also more likely to be remembered. So,
                information in the &quot;middle&quot; seems to get pushed out and is less likely to be remembered.</p>
        </blockquote>
        <p>While maintenance rehearsal will help keep information in STM, the only way to bring information into
            long-term memory is through ELABORATIVE REHEARSAL.</p>
        <p><b>4) Elaborative Rehearsal</b> - <i>connecting new information with previously stored, already existing
                associative structures</i>.</p>
        <blockquote>
            <p>For Example - when our sixth grade teachers used to make us put a vocabulary word into context in a
                sentence - this combines the new information (the vocabulary word) with an associative structure (the
                sentence).</p>
            <p>&quot;Johnny, the word is pimple. Can you use pimple in a sentence?&quot; &quot;Yes. My head is so full
                of all of this Psychological information, I think it is going to pop like a big, white, pimple&quot;</p>
        </blockquote>
        <p><b>C. Long Term Memory (LTM)</b> <i>- an unlimited capacity store that can hold information over lengthy
                periods of time</i>.</p>
        <p>The name is a bit of a misnomer, since information in LTM may stay there over the course of a life-span.</p>
        <p>1) there are 3 categories (or subcategories) of LTM:</p>
        <blockquote>
            <p>a) Procedural memory - this is the most basic type of long term memory (very simplistic) and primarily
                involves memories of rudimentary procedures and behaviors.</p>
            <blockquote>
                <p>For example - procedural memories include our memory for eating, sitting in a chair, etc. As you can
                    see, these are are based on behavior.</p>
                <p>some even suggest that there is an additional, basic category called DECLARATIVE memory - just
                    factual information like names and dates.</p>
            </blockquote>
            <p>b) Semantic memory - mental models of the environment as well as procedures.</p>
            <blockquote>
                <p>For example - knowledge of word meanings, language, strategies for problem solving, factual
                    information (like laws), etc.</p>
            </blockquote>
            <p>c) Episodic memory - information about events, people, places, etc., that include an autobiographical
                aspect as well as a time and place.</p>
            <blockquote>
                <p>For example - &quot;I saw a bear last night in my back yard.&quot;</p>
            </blockquote>
        </blockquote>
        <p>Now that we have seen how memory works, let's look at how or why memory may NOT work.</p>




        <p></p>
        <p><b>IV. Theories of Forgetting</b></p>
        <p>1) Decay - forgetting due to memories fading over time. This does NOT apply to LTM.</p>
        <blockquote>
            <p>This often occurs in sensory storage and STM since we do not need to process and store all the
                information that we encounter. As a result, there is a lot of information we don't attend to, recognize,
                or rehearse, and so it simply fades away.</p>
        </blockquote>
        <p>2) Interference - hindrance of learning new information because of other information learned before or after
            the new information. There are two types:</p>
        <blockquote>
            <p>a) Proactive interference - information learned previously causes problems with new information.</p>
            <p>For Example - if you took Psychology 101 already with a different teacher they may have presented
                information differently than me. This may affect your ability to recall the information in the way I
                have explained it. You get them mixed together.</p>
            <p>b) Retroactive interference - new information cause recall problem with previously learned information.
            </p>
            <p>For example - now you are learning in my class, you can not recall the information the way it was
                presented by your previous Psychology 101 instructor.</p>
        </blockquote>
        <p>3) Retrieval-Based Forgetting - information stored in LTM is not being accessed or brought out properly;
            however, if given enough time or cues, it is possible to retrieve the information.</p>
        <blockquote>
            <p>a) this suggests that LTM is permanent. Since the information is said to still be in LTM and not lost
                (the person has the information but just can't get to it).</p>
        </blockquote>
        <p>4) Storage-Based Forgetting - information in LTM was distorted, altered, or changed so it is no longer
            accessible when searching for what it &quot;used to be&quot;. The information can be retrieved, but only if
            you look for it in its new form.</p>
        <p>5) Motivated Forgetting - a purposeful process of blocking or &quot;suppressing&quot; information.</p>
        <blockquote>
            <p>a) FREUD referred to this as Repression - keeping distressing thoughts or feelings buried in the
                unconscious. (I am always amused when clinical Psychologists renounce Freud as a lunatic and then, in
                the same breath, talk about how meaningful and real repression is. They seem to forget who pioneered
                this area).</p>
            <p>BUT - can we actually intentionally forget something?</p>
            <p>Here is a quick HOMEWORK assignment - do whatever you must do to forget the number sequence 5-3-1. Try as
                hard as you can to forget it - do what you must, but forget the number sequence 5-3-1!!</p>
            <p>b) Today, Repressed Memories are a very hot topic, but how much can we trust repressed memories? How
                often are these memories actually False Memories?</p>
            <p>When a repressed memory is remembered, we say it has been Recovered. A recovered memory can be defined as
                the emergence of a formerly repressed memory.</p>
            <blockquote>
                <p>1. even Freud, who pioneered this area, had doubts about this:</p>
                <blockquote>
                    <p>a. He was never able to confirm that childhood sexual traumas cause later adult pathology.</p>
                    <p>b. Even he realized that not all recovered memories were accurate.</p>
                </blockquote>
            </blockquote>
        </blockquote>
        <p>Thus, it is possible that some or all of these memories are actually false memories.</p>

        <hr align="left" />
        <p>V. False Memories - How and Why: </p>
        <p></p>
        <p>A. The Misinformation Effect - an unconscious adoption of later-learned information. We know that our
            experiences affect memory...experiences that occur before, during, and after a memory is formed. Thus, the
            misinformation effect occurs when information received after a memory has formed influences the way we
            remember the event.</p>
        <p>1) How - it occurs when someone fails to record into memory certain details of an event (remember, we can't
            process and store ALL pieces of information from an event). Then, when they see or hear another person's
            account of what occurred, they include these new pieces of information into their own memory. This finding
            has been demonstrated empirically many times.</p>
        <p>2) Children may be especially susceptible to this since they have less sophisticated encoding ability which
            results in more memory fragments. These fragments leave holes or gaps that are then filled in by experiences
            (social influences).</p>
        <blockquote>
            <p>studies of memories of abuse in children. There was a series of studies a few years ago in which young
                children of different ages were given physical exams and then questioned about the exams afterwards (the
                interviews occurred right after the exam, a short time later, and then a few more times across the next
                Year). The doctors were part of the experimental team and acted according to a script and so children
                were treated and touched in very controlled ways (plus the exams were video taped). The children were
                asked about where the doctors touched them, how the doctors touched them, etc...much like children are
                questioned by police and Psychologists when trying to determine whether sexual abuse has occurred. The
                results indicated that, despite NO fondling or sexual contact in any way (no genitalia were touched,
                etc.), many of the children stated that they had been touched in inappropriate places by the doctors.
                Many of the reports did not happen at first, but over time and with different questions, the children
                began to alter their stories slightly.</p>
        </blockquote>
        <p>3) Eye-witness testimony - despite the importance we place on eye-witness testimony in our legal system,
            experts agree that it is, at best, very questionable and susceptible to influence and change.</p>
        <blockquote>
            <p>Police are notorious for using leading questions to evoke the types of responses they want from
                witnesses. For example, if you were a witness to a robbery, a police officer might ask you, &quot;what
                type of gun did the robber have&quot; instead of asking you &quot;did the robber have any type of
                weapon&quot;. In addition, the more you learn about a case (TV, newspapers, etc.) the more likely you
                are to incorporate the new information into your own memory of the event.</p>
        </blockquote>

        <hr align="left" />

        <p>Some final misconceptions about repressed memories</p>
        <p>1) wouldn't repressed or false memories be less vivid?</p>
        <p>No - research has shown that false memories are often &quot;recollected&quot; with more clarity and certainty
            than real memories</p>
        <p>2) Wouldn't it be different for a traumatic event?</p>
        <p>NO - research has shown that memories of real traumatic events in childhood often fade over time.</p>
        <p>BUT - if an event is VERY TRAUMATIC it is more likely to become problematic due to inability to stop thinking
            about it. People often dwell on a traumatic event, not forget it (PTSD).</p>
        <p>3) Does this mean that Repression is all a myth?</p>
        <p>Not necessarily. The research is not conclusive, but suggests that repressed memories may not be as common as
            people may believe today (it seems to have gotten very hip today).</p>



        <p><a href="#THE FIELD">
            </a></p>
    </div>
    <hr>
</div>



<%- include ('partials/footer'); -%>