<%- include ('partials/header'); -%>

<div class="content">
    <div class="heading-content">
        <div class="heading">
           Psychology
        </div>
        <div class="heading-description">Psychology is the science and art of understanding behaviour.</div>
    </div>
    <hr>
    <div class="photo">
        <img src="./img/5PMe5hr8tjSS9Nq5d6Cebe.jpg" alt="">
    </div>
    <div class="content-text">
        <p>What is more important in determining your behavior - your personality or the siltation in which you are in (the environment)? Are you a &quot;nice&quot; person? If you said yes, are you always nice? The answer, if you are being honest, is no. </p>
              <p>The question then is, if you are a &quot;nice&quot; person (and thus that is part of your personality), why aren't you nice all the time; how can you be every not be nice if that is your personality? According to personality theorists, the human personality is enduring and the determining factor in human behavior. But, as you will see in the Social Psychology section (later in the semester), this may not be exactly the case. For now, let's take a look at what Personality is according to Personality theorists. </p>
              
            <p><b>Personality</b> can be defined as an individuals unique, relatively consistent pattern of thoughts, feelings, and behaviors.</p>            <p><b>I. The Psychobiological approach</b> (the perspective that personality is determined by biological factors).</p>           
            <blockquote >
            <p>temperament -- a person's characteristic emotional state, first apparent in early infancy and possibly inborn.</p>
              </blockquote>            <p>
                  <b>A. Hippocrates' view</b> -- According to Hippocrates, temperament is determined by a person's level of 4 different body fluids, called <b><i>humors</i></b>.</p>            <p>1) Blood was associated with a cheerful, or <i>sanguine </i>temperament.</p>            <p>2) Phlegm assoc. with a calm, or <i>phlegmatic</i> temperament.</p>            <p>3) Black bile was associated with a depressed, or <i>melancholic</i> temperament.</p>            <p>4) Yellow bile was assoc. w/ an irritable, or <i>choleric</i> temperament.<br />
          </p>            <p><b>B. Phrenology and Physiognomy</b></p>              <p>1) Phrenology -- the study of bumps on the skull (believed in the 19th century to be associated with particular personality and intellectual characteristics).</p>              <p>2) Physiognomy -- the study of the face (based on the belief that personality was revealed by facial features.</p>              
          

            <p><b>C. Physique and Personality</b> -- Somatotypes (body types) -- <i>Constitutional theory of personality </i>-- William Sheldon. According to this view, there is al ink between a person's body type and personality.</p>
            <p><b>1) ectomorph</b> -- thin, frail body; believed by Sheldon to reveal a shy, restrained, and introspective temperament called <i>cerebrotonia.</i></p>
            <p><b>2) mesomorph</b><i> -- </i>muscular, strong body; believed to display a bold, assertive, and energetic temperament called <i>somatotonia</i>.</p>
            <p><b>3) endomorph</b> -- large, soft body; believed to display a relaxed, sociable and easygoing temperament called <i>viscerotonia</i>.</p>
            
            <p><b>D. Heredity and Personality</b></p>
            <p><i>Behavioral Genetics</i> -- the study of the relationship between heredity and behavior.</p>
            <p>1) support for this perspective is demonstrated by the differences found in infants. At that early age, personality theorists say that the baby has not had time to learn how to behave, but is behaving according to their innate personalities.</p>
            <p>2) Bouchard studies of identical twins reared apart. These studies demonstrate that identical twins who grow up in different homes often exhibit many similar behaviors and characteristics. </p>
            <hr />
            <p><b>II. The Psychoanalytic Approach </b>(rooted in the psychobiological approach) - this theory is extremely popular, and was developed by Freud.</p>
            <p><b>A. Psychosexual Theory of the Structure of Personality</b></p>
            <p><b>1) Id</b> (Latin for &quot;it&quot;) -- contains innate biological drives, seeks immediate gratification, and operates by the pleasure principle (seeking gratification of impulses).</p>
            <p><b>2) Ego</b> (Latin for &quot;I&quot;) -- helps the individual adapt to external reality by making compromises between the id, the superego, and the environment. Operates by the &quot;reality principle&quot; -- directs the individual to express sexual and aggressive impulses in socially acceptable ways.</p>
            <p><b>3) Superego</b> (Latin for &quot;over the I&quot;) -- acts as our moral guide; contains the <i>conscience</i>, which makes us feel guilty for doing or thinking something wrong; also contains the <i>ego ideal, </i>which makes us feel good for wanting or doing something good.</p>
            <p><b>4) Defense Mechanisms</b> -- distort reality to protect the ego from anxiety caused by id impulses. There are many different types of defense mechanisms:</p>
            <blockquote style="padding-left:25px;">
              <p><b>a) repression</b> -- this is the most often used and central main defense mechanism; it is common to all the others. Repression can be defined as the banishment of threatening thoughts, feelings, and memories into the unconscious mind.</p>
              <p><b>b) denial</b> -- refusal to admit a particular aspect of reality.</p>
              <p><b>c) regression</b> -- individual displays immature behaviors that have relieved anxiety in the past</p>
              <p><b>d) rationalization</b> -- providing socially acceptable reasons for our inappropriate behavior</p>
              <p><b>e) intellectualization</b> -- reducing anxiety by reacting to emotional situations in a detached, unemotional way.</p>
              <p><b>f) projection</b> -- attributing our undesirable feelings to others.</p>
              <p><b>g) displacement </b>-- expressing feelings toward something or someone besides the target person, because they are perceived as less threatening.</p>
              <p><b>h) reaction formation</b> -- acting in a manner opposite our true feelings.</p>
              <p><b>i) compensation </b>-- reacting to a personal deficiency by developing another talent.</p>
              <p><b>j) sublimation</b> -- expression of sexual or aggressive impulses through indirect, socially acceptable ones.</p>
            </blockquote>
           
          <p><b>B. Analytic Psychology</b> -- Carl Jung</p>
            <p>Unlike the Psychosexual approach, the analytic approach de-emphasizes the sex motive</p>
            <p><b>1) Personal Unconscious</b> -- the individuals own unconscious mind.</p>
            <p><b>2) Collective Unconscious </b>-- the unconscious mind that is shared by all human beings and that contains archetypal images passed down from our prehistoric ancestors.</p>
            <p><b>3) Archetypes</b> -- inherited images which are passed down from our prehistoric ancestors and reveal themselves as universal symbols in art, dreams, and religion.</p>
            <p><b>4) Extrovert</b> -- a person who tend to focus on the external world and people. People often associate being socially outgoing with extroversion, but that is a little too simplistic. Extroverts may be more outgoing in that they gain energy from the other people and the external environment, and usually prefer to be with others.</p>
            <p><b>5) Introvert</b> -- a person who is focused on (often preoccupied) with his or her private mental experiences, feelings, and thoughts.</p>
            <hr size="1" noshade="noshade" />            
             
            <p><b>III. The Dispositional Approach</b></p>
            <p>A. Type Theories (Eysenck)</p>
            <p>1. Unstable/Stable</p>
            <p>2. Introverted/ Extroverted</p>
           
            <p><b>B. Trait Theories</b> -- (Allport, Cattell) -- a <U>trait</U> is a relatively enduring, cross-situationally consistent personality characteristic that is inferred from a person&#146;s behavior.</p>
            <p>1) Allport -- indicated that there is a hierarchy of 3 basic trait types:</p>
            <blockquote style="padding-left:25px;">
              <p><b>a) cardinal</b> (similar to types) - this is the big one. Cardinal traits are dominant traits that characterize most of (or almost all) of a person's behavior. Cardinal traits completely dominate a person's sense of self. For example, Charles Manson's evilness could be identified as a cardinal trait or Mother Teresa's altruism.</p>
              <blockquote >
                <p>It is important to note that cardinal traits are not common. Most people do not have these traits...people with cardinal traits are considered rare.</p>
              </blockquote>
              <p><b>b) central </b>(humorous, kind) - these traits are central, prominent traits that everyone has (unlike cardinal traits). Our personalities are built upon the central traits. They are influential, but don't dominate like the cardinal traits.</p>
              <p><b>c) secondary</b> (food preferences, etc.) - these are traits that are only exhibited in some situations. For example, someone may be kind most of the time, but become very selfish in other situations.</p>
            </blockquote>
            <p>2) Cattell -- factor analysis; 16 traits (e.g., emotional stability, agreeableness)</p>
        
            <p><b>C. Dispositional Assessment of Personality</b></p>
            <p>1) Personality Types -- Myers-Briggs Type Indicator</p>
            <p>2) Personality Traits -- MMPI, CPI</p>
            <p></p>
            <hr align="left" />
            <p></p>
            <p><b>IV. The Behavioral Approach - </b>this approach rejects the importance of biological factors in favor of the environmental forces. Instead of traits, behavioral approach proponents believe that behavior is a function of environmental factors and learning.</p>
            <p><b>A. Operant Conditioning Theory</b> -since operant conditioning was already discussed in an earlier section, we won't go into much detail.</p>
            <blockquote>
              <p>B.F. Skinner was a major proponent of this perspective and believed that what most people referred to as personality was simply a person's distinct behavior pattern that emerged in specific situations. For example, you may think that your teacher is very timid and a straight arrow because you see them only in a very specific situation (the classroom or in the school setting). However, your teacher may behave very differently in another situation that contradicts your perception of their &quot;personality&quot;.</p>
            </blockquote>
            <p><b>B. Social Cognitive Theory</b> (Albert Bandura) -- this perspective is quite similar to the behavioral perspective, but here cognitive factors are also considered important in determining behavior (remember that cognitive factors are ignored in strict behavioral theory). So, according to the Social Cognitive Perspective, the environment/learning and cognition are the determining factors in behavior. In addition, there are two important concepts you need to be familiar with:</p>
           <p><b>1) reciprocal determinism</b> -- Bandura&#146;s belief that personality traits, environmental factors, and overt behavior don't determine behavior in isolation. Rather, these factors affect each other to determine our behaviors. Reciprocal determinism also relies on a person's self-efficacy.</p>
            <p><b>2) self - efficacy</b> -- a person&#146;s belief that he or she can perform behaviors that are necessary to produce a desired outcome. Self-efficacy influences what choices we make in different situations, the situations we enter, and the outcomes. For example, do you think a person with low self-efficacy would enter a situation in which they must perform a difficult task in front of a large crowd of people?</p>
            <p><b>C. Behavioral Assessment - </b>to measure a person's personality, there are several tools Psychologists with a behavioral perspective may use:</p>
            <p>1) Behavioral observation</p>
            <p>2) Experience sampling</p>
            <p>3) Situational interview</p>
            <p>4) Behavioral checklists</p>
            <p>5) Cognitive-Behavioral Assessment (Rotter&#146;s <i>Internal/External Locus of Control Scale</i>)</p>
            <p></p>
            <hr align="left" />
            <p></p>
            <p><b>V. The Cognitive Approach</b></p>
            <p><b>A. Personal Construct Theory</b> (George Kelly) -- Human beings are lay scientists who continually test hypotheses about social reality (these hypotheses are <i>personal constructs</i>).</p>
            <p><b>1) constructive alternativism</b> -- the ability to apply different personal constructs to a given situation.</p>
          
            <p><b>B. Cognitive Assessment</b> -- <i>Role Construct Repertory Test</i> (Kelly) -- three persons; how are the first two similar and different from the third? How many constructs does the individual use to distinguish between people? Are they too inflexible or flexible (stereotypes vs. ability to predict behavior).</p>
            <p></p>
            <hr align="left" />
            <p></p>
            <p><b>VI. The Humanistic Approach</b></p>
            <p>A. Self-Actualization Theory (Maslow&#146;s Hierarchy of Needs)</p>
          
            <p>B. Self Theory -- incongruence between the self and personal experience. Healthy people have congruence between the self and the ideal self.</p>
          
            <p>C. Humanistic Assessment --</p>
            <p>1) Personal Orientation Inventory -- measures the degree to which a person&#146;s values and attitudes agree with those of Maslow&#146;s description of self-actualized people.</p>
            <p>2) Q-Sort -- Measures the degree of congruence between a person&#146;s self and ideal self.</p>


            <p> <a href="#THE FIELD">
          </a></p>
    </div>
    <hr>
</div>

    

<%- include ('partials/footer'); -%>