<%- include ('partials/header'); -%>

<div class="content">
    <div class="heading-content">
        <div class="heading">
            Stress And Illness
        </div>
        <div class="heading-description">Stress has powerful effects on mental functioning, mental and physical
            performance.</div>
    </div>
    <hr>
    <div class="photo">
        <img src="./img/5PMe5hr8tjSS9Nq5d6Cebe.jpg" alt="">
    </div>
    <div class="content-text">
        <p><strong>STRESS</strong> - we all have it, we all feel, but just how important is it? </p>
        <p>How much does stress influence our daily lives? How much does stress influence our lives long-term? Can
            stress Kill us? Is it all bad?</p>
        <p>In this section, we will explore stress - what it is, how it progresses, and the type of damage it can cause.
        </p>
        <p>I. BACKGROUND</p>
        <p>In 1925 a second year medical student named Hans Selye observed that people suffering from a wide variety of
            somatic (physical) disorders all seemed to have the same or similar symptoms. For example, many of these
            people reported:</p>
        <blockquote>
            <p>decreased appetite, decreased muscular strength and endurance, and lowered levels of ambition or drive.
            </p>
        </blockquote>
        <p>Selye, unable to find a common disease or disorder to explain these behaviors, called this group of symptoms,
            the <b>SYNDROME OF JUST BEING SICK</b>. </p>
        <p>In addition, he found that these symptoms occurred whenever: <b><em>the human organism needed to adapt to a
                    changing internal or external environment.</em></b></p>
        <p>This was the first observation and identification that eventually led to the term STRESSAt first, Selye
            defined STRESS as, <b><i>a nonspecific response of the body to any demand made upon it</i></b>. Even this
            initial definition implies that not all stress is a result of &quot;bad&quot; things happening to us.</p>
        <p>Later, his JUST BEING SICK syndrome evolved into the GENERAL ADAPTATION SYNDROME which he defined as, <em>the
                physiological processes and results of stress</em>.</p>
        <p>From this, we get a modern, more comprehensive definition of STRESS:</p>
        <p><em><strong>a psychological and physical response of the body that occurs whenever we must adapt to changing
                    conditions, whether those conditions be real or perceived.</strong></em> </p>
        <hr size="1" noshade="noshade" />
        <p><strong>III. STRESS AND ILLNESS</strong></p>
        <p>Stress has powerful effects on mental functioning, mental and physical performance, interpersonal encounters,
            and physical well-being.</p>
        <p>In the Principles of Internal Medicine (Harrison) it was reported that <strong>50-80% of all physical
                disorders have psychosomatic or stress related origins.</strong></p>
        <p><strong>A. Psychosomatic Illness</strong></p>
        <p>Many people assume erroneously that a psychosomatic illness is a fake illness or something that someone is
            simply imagining. That is NOT true.Definition - a Psychosomatic Illness is a <em><strong>condition in which
                    the state of mind (psyche) either causes or mediates a condition of actual, measurable damage in the
                    body (soma).</strong></em></p>
        <blockquote>
            <p>Examples include : ulcers, asthma, migraine headaches, arthritis, and even cancer.</p>
        </blockquote>
        <p>We discussed the differences between distress &amp; eustress, but there is an additional &quot;type&quot; of
            stress called PSYCHOPHYSIOLOGICAL STRESS (it is not a category like distress...) that can be defined as
            <b><i>mental upset that triggers a physiological stress response</i></b>. Thus, it is stress that leads to
            psychosomatic illness.</p>
        <p>In our culture, psychophysiological stress is the most common type of stress AND is the major factor in the
            onset of psychosomatic illness.</p>
        <p>Since we have been discussing the fact that stress can lead to illness via the psychosomatic model, we now
            need to discuss what this model is and what steps are involved.</p>
        <p><strong>B. The Psychosomatic Model</strong></p>
        <p>The idea behind creating and understanding a model of stress related illness is that by knowing the steps
            that lead to illness, we can intervene at any of these steps to break the cycle and thwart the onset of
            illness. The model works like a stage theory - you must progress from one stage (or step) to the next in the
            proper order for the model to work. The steps in the Model are:</p>
        <blockquote>
            <p><b>1) Sensory Stimulus</b> - is also referred to as the <strong>STRESSOR, which can be any mental or
                    physical demand put upon our body our mind</strong>. This can be anything from a loud noise to an
                exam or work load to physical activity or the in-laws coming into town.</p>
            <blockquote>
                <p>For example, if you are stuck in a traffic jam, what is the stress and what is the stressor?</p>
                <p>Stressor = traffic jam</p>
                <p>Stress = mental and physical response to the stressor</p>
            </blockquote>
            <p><b>2) Perception -</b> <strong>the active process of bringing an external stimulus to the CNS (especially
                    the brain) for interpretation</strong>.</p>
            <blockquote>
                <p>A stressor is often an external event...but for a stressor to affect a human it must get into the
                    mind-body system. It is through perception that this occurs.</p>
            </blockquote>
            <p><b>3) Cognitive Appraisal </b>- <strong>process of analyzing and processing information as well as
                    categorizing and organizing it.</strong> Recall the section on memory - at the cognitive appraisal
                level we put labels on things - good, bad, dangerous, pleasant, etc.</p>
            <blockquote>
                <p>Thus, for most situations, it is the LABEL that we give to the information that determines whether it
                    will be deemed stressful and trigger a physiological response.</p>
                <p>In addition, appraisal is influenced by personal history, personal beliefs, morals, etc.</p>
                <p><strong>*** I will claim that it is this labeling processes that is the key component. We all make
                        personal appraisals of situations and it is these labels that determine our stress level and
                        stress response</strong>. For example, my father becomes outraged while sitting in traffic while
                    I have no problem with it. He labels traffic as a very bad and, in his words
                    &quot;infuriating&quot;. I think traffic is simply a part of driving in a city...I can't do anything
                    about it, so why label it as a &quot;bad&quot; thing?</p>
            </blockquote>
            <p><b>4) Emotional Arousal </b>- If we classify/label something as stressful, it then produces a
                bodily/physiological response. Remember, anytime a subjective experience of emotion occurs, it is
                followed by a change in autonomic physiology. So, at this stage, we simply experience an
                emotion...nothing else at this point, just the production (or beginning) of an emotion.</p>
            <blockquote>
                <p>So, any emotion we experience, be it joy, fear, excitement, anger, etc., will elicit a stress
                    response in the body.</p>
                <p>At a physiological level, we can not differentiate between positive and negative emotions.</p>
            </blockquote>
            <p><b>5) Mind-Body Connection -</b> here the emotional arousal is changed into a bodily change so that you
                may adapt to the situation and respond appropriately. Now, the emotional arousal BEGINS TO BE CONVERTED
                into that bodily response or change we have addressed.</p>
            <p>This change will/can occur at two levels:</p>
            <blockquote>
                <p>a) nervous system - sympathetic and parasympathetic systems. Short-term changes occur and work on an
                    electrical level.</p>
                <p>For example: you are afraid and your bodily response is to tremble.</p>
                <p>b) endocrine system - produces slower, longer lasting responses using chemicals, hormones, and
                    glands.</p>
                <p>*emotional arousal stimulates the hypothalamus which sends messages through the sympathetic nervous
                    system to the appropriate organ.</p>
                <p>*in addition the pituitary gland is stimulated and results in hormone production</p>
            </blockquote>

            <p><b>6) Physical Arousal -</b> Once the mind-body connection has been made and the bodily changes occur,
                these changes are called physical arousal.</p>
            <p><b>7) Physical Effects -</b> Now the internal organs begin to be affected by the physical arousal. For
                example, increased heart rate, blood pressure, dilation of the pupils, etc., Sound familiar??? Like the
                Fight-or-flight response.</p>
            <p><b>8) Disease</b> - If the physical effects continue for a sustained period of time (this varies) the
                imbalance of functioning can result in disease. One or more organ can become exhausted and work
                inefficiently or not at all.</p>
            <p>At this point, we would say that the person has a psychosomatic disease. But, we give them a specific
                name: PSYCHOGENIC DISEASE - physical disease that have a change in mental state as the major cause.
                Other diseases which may be influenced by stress/the mind, but do not have them as the MAJOR CAUSE are
                not psychogenic (e.g., cancer, diabetes, etc.).</p>
            <p>*this model is an EXACERBATION CYCLE - arousal, tension, and disease can breed further stress responses
                and thus become even more intense. For example, how would you respond if a doctor told you today that
                you have cancer?</p>
        </blockquote>

        <p></p>
        <p><strong>IV. MAJOR TYPES/SOURCES OF STRESS</strong></p>
        <p>Although we know that almost anything can be a source of stress, we have 4 major classifications or types of
            stress:</p>
        <p><b>A) FRUSTRATION </b>- stress due to any situation in which the pursuit of some goal is thwarted.
            Frustration is usually short-lived, but some frustrations can be source of major stress:</p>
        <blockquote>
            <p>1) failures - we all fail. But, if we set unrealistic goals, or place too much emphasis on obtaining
                certain successes, failure can be devastating.</p>
            <p>2) Losses - deprivation of something that you once had and considered a &quot;part&quot; of your life.
                Can result in tremendous stress.</p>
        </blockquote>
        <p><b>B) CONFLICT</b> - two or more incompatible motivations or behavioral impulses compete for expression. When
            faced with multiple motivations or goals, you must chose and this is where the problems/conflict arise.</p>
        <p>Studies have indicated that the more conflict a person experiences, the greater the likelihood for anxiety,
            depression, and physical symptoms. There are 3 major types of conflicts:</p>
        <blockquote>
            <p><b>1)</b> <strong>Approach-Approach</strong>: a choice must be made between two attractive goals. You may
                want both, but can only have one. For example, &quot;Since I don't have to work today, should I play
                basketball or golf? Do I go out for pizza or Chinese food?&quot; Mmmmm...pizza!</p>
            <blockquote>
                <p>This type of conflict is the least demanding and least damaging. You rarely collapse at a restaurant
                    because you can't decide between the lobster and the steak.</p>
            </blockquote>
            <p><b>2)</b> <strong>Avoidance-Avoidance</strong>: a choice must be made between two unattractive goals.
                &quot;Caught between a rock and a hard place.&quot;</p>
            <blockquote>
                <p>These conflicts are usually very unpleasant and highly stressful.</p>
            </blockquote>
            <p><b>3)</b> <strong>Approach-Avoidance:</strong> choice must be made to pursue a single goal that has both
                positive and negative aspects. For example, asking someone on a date.</p>
            <blockquote>
                <p>This type of conflict often produces VACILLATION: going and back and forth in decision making.</p>
                <p>Studies have shown that even animals vacillate.</p>
                <p>Miller (1959) concluded, &quot;in trying to resolve an approach-avoidance conflict, one should focus
                    more on decreasing avoidance motivation than on increasing approach motivation.&quot;</p>
                <p>So, if you have a friend who is vacillating over whether to ask someone on a date, you should
                    downplay the negative aspects of possible rejection rather than dwelling on how much fun the date
                    could be if only...</p>
            </blockquote>
        </blockquote>
        <p><b>C) CHANGE</b> - life changes are noticeable alterations in one's living circumstances that require
            adjustment.</p>
        <blockquote>
            <p><b>1) Holmes &amp; Rahe (1967) </b>- developed the Social Readjustment Rating Scale (SRRS) to measure
                life changes. They found that, after interviewing thousands of people, while BIG changes like death of a
                loved one are very stressful, small life changes have tremendous effects.</p>
            <p>Studies using the SRRS have indicated that people with higher scores tend to be more vulnerable to many
                different physical and psychological illnesses.</p>
            <p>Further studies have found that the scale measures a wide range of experiences that may result in stress
                as opposed to just measuring &quot;life-changes&quot;.</p>
        </blockquote>
        <p><b>D) Pressure</b> - expectations or demands that one must behave in a certain way. For example, I am under
            pressure to perform in very specific ways when I am in front of a class as the &quot;teacher&quot;.</p>
        <p>Surprisingly, pressure has only recently been examined in terms of psychological and physical effects due to
            stress. Studies have found the Pressure inventory (created in the 80's) is more highly correlated with
            psychological problems than the SRRS.</p>

        <hr align="left" />


        <p><strong>V. STRESS &amp; PSYCHOLOGICAL FUNCTIONING</strong></p>
        <p><b>A) IMPAIRED TASK PERFORMANCE -</b> Baumeister (1984) found that stress interferes with attention and
            therefore, performance.</p>
        <blockquote>
            <p>1) increased stress = increased distractibility</p>
            <p>2) increased stress = over thinking on tasks that should be &quot;automatic&quot;.</p>
            <p>For example: a free throw at &quot;crunch time&quot;</p>
        </blockquote>
        <p><b>B) BURNOUT</b> - physical, emotional, and mental exhaustion due to work-related stress.</p>
        <blockquote>
            <p>Cause is not sudden, but prolonged exposure to stress. Increases the more &quot;jobs/tasks&quot; placed
                upon you. For example, having multiple roles such as parent, student, spouse, etc.</p>
        </blockquote>
        <p><b>C) POSTTRAUMATIC STRESS DISORDER - </b>disturbed behavior that is attributed to a major stressful event,
            but emerges after the event has ended (often years later).</p>
        <blockquote>
            <p>Very common in the 70's - Vietnam war veterans had symptom usually 9-60 months later.</p>
            <p>Occurs in general population as well:</p>
            <blockquote>
                <p>1) most common - rape</p>
                <p>2) seeing someone die or severely injured</p>
                <p>3) close brush with death</p>
                <p>Symptoms include - nightmares, sleep disturbances, jumpiness, etc.</p>
            </blockquote>
        </blockquote>
        <p><b>D) Psychological Problems/Disorders</b> - usually the result of prolonged stress:</p>
        <p>insomnia, nightmares, poor academic performance, sexual dysfunctions, anxiety, schizophrenia, depression,
            eating disorders, and lots more.</p>
        <p>What can you do about it???</p>
        <p>There are many techniques to reduce stress and the progression through the Psychosomatic Model. For example,
            there are relaxation techniques such as Meditation, Progressive Neuromuscular Relaxation, exercise,
            biofeedback, and Selective Awareness, just to name a few.</p>



    </div>
    <hr>
</div>



<%- include ('partials/footer'); -%>