<%- include ('partials/header'); -%>

<div class="content">
    <div class="heading-content">
        <div class="heading">
            Psycho Therapy
        </div>
        <div class="heading-description">A treatment given to a person having mental illness</div>
    </div>
    <hr>
    <div class="photo">
        <img src="./img/5PMe5hr8tjSS9Nq5d6Cebe.jpg" alt="">
    </div>
    <div class="content-text">
        <p>Anyone who has tried to help a friend, family member, or anyone in need has played the role of therapist.
            Does this mean that anyone can be a &quot;therapist&quot; or that we ARE all &quot;therapists&quot;? No, it
            means that we understand, at least at a very basic level, the underlying premise of being a therapist. </p>
        <p>Trained, qualified therapists, however, have some advantages since they learn precisely how to help those in
            need. </p>
        <p>In addition, there is not one type of therapeutic approach that is appropriate for all situations; there are
            many different types of therapies, therapeutic styles, theoretical perspectives, etc. that go into therapy,
            and a trained therapist should know many different styles and which is appropriate for which situation. </p>
        <p>We will look at several of these as we explore the topic of psychotherapy.</p>
        <p><b>I. Introduction</b></p>
        <blockquote>
            <p>Not so long ago, it was believed that demons or possession were the causes of psychological dysfunction.
                This perspective held for centuries, and there are still those whose understanding and beliefs of mental
                illness are founded in these archaic views.</p>
        </blockquote>
        <p></p>
        <p>Others took this perspective one step further, believing that people became mentally ill as a result of sins
            they committed or from witchcraft. </p>
        <p>The early forms of mental facilities were basically prisons, in which patients/prisoners were restrained with
            chains, restraint jackets, and padded cells. It seems that the idea was not to cure these sick people, but
            to confine them and keep them out of the public eye.</p>
        <p>However, in 1905 it was discovered that General Paresis was caused by a physical infection (syphilis), rather
            than by witchcraft or demonic possession. This finding gave rise to the belief that mental illness was more
            like physical illness in the sense that there were organic causes.</p>
        <p>1940s began the era of utilizing drugs for treatment of mental illness. These drugs were somewhat successful
            and were used more regularly as time passed. Drug therapy is still a huge part of therapy.</p>
        <p>Today, treatment is a very diverse, very complex process with many issues. Drugs have become an integral part
            of therapy, but we now have talk therapy, behavioral therapy, cognitive therapy, and others which can be
            used in combination or in the place of drug therapies.</p>


        <p><b>A. Why seek &quot;treatment?&quot;</b></p>
        <p>There are many reasons why people do or should seek out therapy. Mental problems vary in type and severity,
            but when something begins to alter a person's life in a negative way, is something that is on the mind quite
            often, etc., it may be time to seek therapy. Here are just a few issues that prompt people to seek therapy:
        </p>
        <blockquote>
            <p>suicidal, depression, hallucinating, etc.</p>
            <p>problems with life choices, marital conflict</p>
            <p>picking a major, test anxiety</p>
            <p>time management problems, social skill training</p>
        </blockquote>
        <p>People often think that you must be really mentally ill or &quot;out of it&quot; to seek help from a
            psychologist or other expert, but this is not true. Therapists can provide assistance with all sorts of
            problems from the struggles of &quot;regular&quot; daily life, to parenting, relationships, to the more
            extreme psychological illnesses such as schizophrenia, agoraphobia, and more. Therapists are there to help
            with problems of varying levels, not just with the extreme.</p>
        <p>There are also times when people need assistance but not necessarily the help of a professional. For example,
            what if you must make a big decision (e.g., career choice, divorce, marriage, and you are distressed by the
            magnitude?). What if you have tried to solve a personal problem for several months, and think that now is
            the time to see if others can help? These &quot;others&quot; can be people such as friends and loved ones,
            but you may also need to seek professional help. If so, you may seek out Psychotherapy.</p>

        <p><b>B. What Exactly is psychotherapy?</b> As is often the case in psychology, there isn't agreement on a
            single definition, but there are some common elements:</p>
        <blockquote>
            <p>1. All psychotherapies involve a <U>helping relationship</U> between a <U>professional</U> and a
                <U>person in need </U>of help.</p>
            <blockquote>
                <p>a) helping relationship = Treatment</p>
                <p>b) professional = Therapist</p>
                <p>c) person in need = Client</p>
            </blockquote>
        </blockquote>

        <p><b>C. What types of treatment are available?</b></p>
        <blockquote>
            <p><b>1. Insight or Talk Therapy:</b> these are the classic psychotherapeutic approaches that most people
                think of automatically when they think of therapy. These therapeutic approaches were pioneered by Freud
                and involve the following:</p>
            <blockquote>
                <p>a) client engages in lengthy, complex interactions with the therapist</p>
                <p>b) the goal is to increase insight into the nature or causes of the client's difficulties. Then, and
                    only then, can the therapist look at possible solutions. (can be done on individual or group level)
                    It is important to note that the focus here is on determining the causes of the problems.</p>
            </blockquote>
            <p><b>2. Behavior Therapy:</b> much more direct and problem solving oriented than talk or insight</p>
            <blockquote>
                <p>a) the focus is on finding a solution to the problem, not gaining insight into causes. So, for
                    example, a behavioral therapist is not concerned with what type of childhood you had, or why you
                    smoke, just figuring out a way to get you to stop smoking (if that is why you are seeing the
                    therapist, that is).</p>
                <p>b) the primary goal is to alter problematic responses (e.g., phobias) and maladaptive habits (e.g.,
                    drug use, smoking).</p>
                <p>c) there are many different procedures used in behavior therapy, such as classical conditioning,
                    operant conditioning, observational learning. As you can see, all the approaches have some element
                    of &quot;associations&quot; - meaning the therapist tries to change negative associations into more
                    positive ones. For example, a person who is afraid of going over bridges has made the association
                    between going over a bridge and fear. The therapist attempts to change the association so that now
                    the client associates going over bridges with feelings of relaxation. We'll discuss how this is done
                    a little later.</p>
            </blockquote>
            <p><b>3. Biomedical Therapy:</b> seek a medical cause for a problem and medical remedy to this problem</p>
            <blockquote>
                <p>a) most common approach is to find the drugs that create the proper chemical change in the client.
                    For example, manic depression is a chemical imbalance in the brain that cause a person to swing from
                    states of euphoria to states of depression. Using drugs, a therapist can correct the chemical
                    imbalance so that the mood swings do not occur as often. In cases such as this, other types of
                    therapy may be less effective or ineffective.</p>
            </blockquote>
        </blockquote>

        <p><b>D. Who provides treatment?</b></p>
        <blockquote>
            <p>1. psychologists - clinical psychologists and counseling psychologists are the ones whom most often
                provide therapy to clients; at least most common from the field of psychology.</p>
            <p>2. psychiatrists and physicians - in order for drugs to be prescribed for use in drug therapy, a
                psychiatrist or physician must be involved. Recently there has been a push to allow clinical
                psychologists to prescribe drugs, but for now, a person must have a medical degree to prescribe drugs.
            </p>
            <p>3. others - social workers, guidance counselors, etc.</p>

        </blockquote>

        <p><b>II. PSYCHOTHERAPIES</b></p>
        <p><b>A. Insight Therapies</b></p>

        <blockquote>
            <p><b>1. Psychoanalysis:</b> often called &quot;Freudian therapy&quot;, psychoanalysis is the classic lie on
                the couch and tell me about your childhood approach. The main idea behind psychoanalysis is that there
                is a constant struggle between the conscious and unconscious, which often results in maladaptive
                behaviors, problematic, conscious thoughts, etc. Any observable symptoms of an illness or problem are
                signs of conflict between different aspects of personality (i.e., struggle between the id, ego, and
                superego). For example, a person may feel stress due conflict between the id which may want to pursue
                some attractive person for sexual pleasure, and the superego which reminds the person that they are
                married and it would be wrong to do such a thing. In addition, there are many techniques that a
                psychoanalyst may use to help identify the underlying issues, including:</p>
            <blockquote>
                <p>a) free association - the therapist will present a word or phrase to which the client is to just say
                    anything and everything that comes to mind without any filtering of thoughts. The therapist then
                    tries to identify the problems from the associations made. For example, if a therapist says
                    &quot;mother&quot; and the client responds with &quot;overbearing, caring, disciplinarian, tells me
                    I can don;t anything right, etc...&quot; it would be fairly easy to identify a problem.</p>
                <p>b) dream analysis - Freud believed that dreams were the windows to the unconscious. To understand
                    what is going on in the unconscious mind and what could be causing conflict with the conscious mind,
                    one could examine the content (both latent and manifest) of the dreams.</p>
                <p>c) interpretation - once a therapist has acquired lots of information from the client using the
                    techniques above, the therapist can then begin to try to make sense of it all and figure out what
                    the causes of the problems may be. Thus, the therapist attempts to &quot;interpret&quot; the
                    information.</p>
                <p>d) transference - often a client begins to relate to the therapist in ways that mimic critical
                    relationships in the client's own life. The client may begin to &quot;transfer&quot; anger toward
                    spouse onto the therapist and act angrily toward the therapist. This is actually a good sign,
                    indicating that the therapist is on the right track and making progress toward the true problems. If
                    the therapist were not getting close to the real problem, then the unconscious would have no reason
                    to react.</p>
                <p>e) resistance: client's unconscious defense to hinder the progress. This is somewhat similar to
                    resistance in that both are methods used by the unconscious to block progress. But WHY? The main
                    reason is that it is difficult to confront painful ideas, feelings, etc., so the unconscious, in its
                    efforts to avoid pain and to protect itself will block the progress of the therapy.</p>

            </blockquote>
            <p><b>2. ROGER'S PERSON-CENTERED THERAPY</b> (client-centered)</p>
            <blockquote>
                <p>a) the emphasis here is to provide a supportive, emotional climate for the client who plays a major
                    role in determining the pace and direction of therapy. Instead of the therapist dictating the pace
                    and direction, Rogerian therapy assumes that since the client is the one with the problematic
                    thoughts, behaviors, etc., then it is also the client that has the answers. As such the client is
                    given the lead in determining how quickly they move from one topic to another, what topics to
                    address, etc.</p>
                <p>b) Rogers stated the following:</p>
                <p><em><strong>It is the client who knows what hurts, what directions to go, what problems are crucial,
                            what experiences have been deeply buried. It began to occur to me that unless I had a need
                            to demonstrate my own cleverness and learning, I would do better to rely upon the client for
                            the direction of the movement in the process.</strong></em></p>
                <p>c) Rogers believed that personal distress is due to inconsistency or incongruence between a person's
                    self-concept and reality. For example: you think you are a hard working person (self concept), but
                    people tell you that they think you don't work hard enough. Thus, you get contradictory feedback
                    from others. This inconsistency is what causes problems.</p>
                <p>d) Rogers believed it is vital to create a positive therapeutic climate so that the client feels
                    comfortable enough to open up and explore personal issues. To do this, Rogers indicated that the
                    following things are necessary:</p>
                <blockquote>
                    <p>1) genuineness - the therapist must be genuine and honest with the client. No &quot;noble
                        lies&quot; (lying to the client for a &quot;good&quot; reason or to get the client to feel
                        comfortable enough to open up).</p>
                    <p>2) unconditional positive regard - the therapist also needs to show that they are nonjudgmental
                        &amp; accepting of client. This does NOT mean that the therapist has to agree with everything
                        the client says, only that the therapist indicates that he/she does not view the clients
                        feelings, thoughts, and behaviors as wrong, bad, silly, etc.</p>
                    <p>3) empathy - the therapist needs to try and understand the client's world and client's point of
                        view. Also it is not enough just to do this, the therapist must also be able to communicate this
                        understanding to the client. For example, a therapist treating a physical abuser, may despise
                        the actions of the client and have no personal experience with abuse, but the therapist must be
                        able to try and understand the views of the client from the client's own perspective. The
                        therapist can't always view things from their own perspective or the client may feel that the
                        therapist is judging them and looking down on them.</p>
                </blockquote>
                <p>e) Role of the Therapist:</p>
                <blockquote>
                    <p>1) rephrasing (paraphrasing), mirror, positive regard, acceptance - the therapist does not tell
                        the client what is right or wrong, but tries to take what the client says and say it back to
                        them in a slightly different, more clear and focused way. This does several things, such as
                        showing the client that the therapist understands what the client is saying and feeling, and
                        helps the client hear some of their own thoughts from someone else's mouth, which can have a
                        clarifying effect.</p>
                    <p>2) Some of the phrases therapists use are: &quot;I hear you saying...&quot;, &quot;In other
                        words...&quot;, &quot;You feel that...&quot;.</p>
                </blockquote>
            </blockquote>
        </blockquote>
        <p><b>B. Behavior Therapy</b></p>
        <p>Behavior therapy applies Skinnerian and/or Pavlovian conditioning to treat maladaptive behaviors. The primary
            goal is to change unwanted behavior and solve the problem....NOT get insight into the causes or underlying
            foundation of the problem.</p>
        <blockquote>
            <p><b>1. Assumptions:</b></p>
            <blockquote>
                <p>a) behavior is the product of learning (past conditioning). If a person is engaging in some
                    maladaptive behavior (like smoking) then they had to learn that behavior somewhere along the way.
                </p>
                <p>b) what has been learned can be unlearned. If a person learned to smoke all the time, they can
                    unlearn to smoke all the time.</p>
            </blockquote>
            <p><b>2. Systematic Desensitization</b> (founded by Wolpe):</p>
            <p>The premise of systematic desensitization is to reduce the client's anxiety responses through
                counterconditioning; a person who learned to be afraid of something is associating fear with that object
                or behavior, and the way to eliminate this is to teach the person to associate feelings of relaxation
                with the object or behavior. This approach is based on conditioning relaxation with feared object,
                object of anxiety. Let's look at an example:</p>
            <blockquote>
                <p>a) the fear - fear of dating women</p>
                <p>b) the client is asked to create a hierarchy of anxiety (what makes the client afraid, from least
                    fear producing to most fear producing).</p>
                <blockquote>
                    <p>1) sitting next to a woman in class (least)</p>
                    <p>2) talking to a woman in class</p>
                    <p>3) walking with a woman on campus</p>
                    <p>4) calling a woman on the phone</p>
                    <p>5) eating a meal with a woman</p>
                    <p>6) going out on a date with a woman (most)</p>
                </blockquote>
                <p>c) the therapist then teaches the client some relaxation technique and then has the client use the
                    relaxation technique when encountering (or just thinking about) the first level (sitting next to a
                    woman in class). Once the client is comfortable with this, they move on to the next level, and so on
                    until the client becomes relaxed and is able to go out on a date with a woman.</p>
            </blockquote>
            <p><b>3. Aversion Therapy:</b> this therapeutic technique involves having the client associate an aversive
                stimulus with a stimulus that elicits an undesirable response or action. For example, let's say a person
                smokes but wants to stop. (smoking is the undesirable response) The therapist may have the client go
                through their normal smoking routine (getting the pack of cigarettes, getting one out, tapping it on a
                table, etc...) and then presenting an aversive stimulus along with the smoking (e.g., presenting a vomit
                smell as the client goes through the routing). In this way, the client begins to associate this horrible
                smell of vomit with smoking until the very thought of lighting a cigarette becomes aversive. If you have
                ever seen the movie &quot;A Clockwork Orange&quot; this may sound familiar.</p>
        </blockquote>

        <p><b>C. Cognitive (behavior) Therapy</b> - many books say this is an insight therapy, but we will give it it's
            own classification since it employs both cognitive (insight) and behavioral aspects.</p>
        <p>e.g., Rational Emotive Therapy attempts to rid individuals of irrational beliefs.</p>
        <blockquote>
            <p>1. most problems caused by irrational thoughts that lead to emotional turmoil. For example:</p>
            <blockquote>
                <p>#1: You must have sincere love and approval almost all the time from all the people you find
                    significant.</p>
                <p>#2: You must prove yourself thoroughly competent, adequate, and achieving, or you must at least have
                    real competence or talent at something important.</p>
                <p>#3: You have to view life as awful, terrible, horrible, or catastrophic when things do not go the way
                    you would like them to go.</p>
            </blockquote>
            <p>2. solutions focus on changing cognitions</p>
            <p>the client must learn to monitor the way they talk to themselves, their thoughts, and to develop
                self-control</p>
            <p>must learn to replace irrational beliefs with ones that are more rational</p>
            <p>must learn to avoid &quot;errors&quot; in thinking, such as blaming self for failure, focusing on
                negative not positive, pessimism</p>
            <p>must identify positive goals, and means to achieve them</p>
        </blockquote>
        <p> </p>
        <hr align="left" />
        <p><b>III. DEINSTITUTIONALIZATION AND THE REVOLVING DOOR</b></p>
        <p>In the 1960s, there was a change in the treatment of mentally ill patients. The locations for treatment of
            mentally ill patients changed from inpatient institutions to community-based facilities that emphasize
            outpatient care. On the surface, this sounded like a great idea - bring ill patients colder to the
            community, help them learn to function in society, don't treat them as though they are &quot;ill&quot;, open
            up beds in hospitals for physically ill people, etc. But how good was this change?</p>
        <p>This type of shift was made possible by:</p>
        <blockquote>
            <p>1. Emergence of effective drug therapies</p>
            <p>2. Development of community based mental health centers</p>
        </blockquote>
        <p>The shift has been tremendous:</p>
        <blockquote>
            <p>1955: approximately 1/3 of all hospital patients were mentally ill</p>
            <p>Today: approximately 1/4</p>
            <p>this does NOT mean that hospitalization is a thing of the past. More focus on local and community based
                centers.</p>
        </blockquote>
        <p><b>A. HAS THIS BEEN GOOD???</b></p>
        <blockquote>
            <p><b>1. Positives:</b></p>
            <blockquote>
                <p>a) many have avoided unnecessary hospitalization</p>
                <p>b) institution treatment has improved</p>
                <p>c) rates in institutions have been reduced</p>
            </blockquote>
            <p><b>2. Negatives:</b></p>
            <blockquote>
                <p>a) many severely ill patients released with nowhere to go</p>
                <p>b) those released supposed to get help from halfway houses and shelters - but most of these were
                    never built.</p>
                <p>c) federal funding has diminished....no services</p>
            </blockquote>
        </blockquote>
        <p><b>B. REVOLVING DOOR PROBLEM</b></p>
        <p>refers to patients being released from institutions, then return, then released again. WHY?</p>
        <blockquote>
            <p>1. While in institutions patient may respond well to medication</p>
            <p>2. Once stabilized, they no longer qualify for financial assistance....released</p>
            <p>3. Community-based services not provided adequate funding, so these patients don't get enough
                assistance....thus, they digress and end up back in institution</p>
        </blockquote>
        <p>Some facts:</p>
        <blockquote>
            <p>* studies have indicated that approximately 50% of those released from public mental hospitals were
                readmitted in 1 year</p>
            <p>* Over 2/3 of all psychiatric inpatients are former patients</p>
            <p>* one result has been massive homelessness of those suffering from mental illnesses </p>
        </blockquote>

            <p><a href="#THE FIELD">
                </a></p>

    </div>
    <hr>
</div>



<%- include ('partials/footer'); -%>